:root {
  --primary-color: #f8a28b;
  --secondary-color: #fcded6;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  background-color: rgb(247, 148, 120, 0.3);
  color: #68392f;
}

h1 {
  font-family: var(--primary-font);
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

.hero {
  background-color: rgb(247, 148, 120, 0.8);
  text-align: center;
  margin: 50px 0;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 30px;
}

.hero h2 {
  font-family: var(--secondary-font);
}

.persiks {
  margin: 20px 0;
}
