:root {
  --primary-color: #f8a28b;
  --secondary-color: #fcded6;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  background-color: rgb(247, 148, 120, 0.3);
  color: #68392f;
  max-width: 100%;
}

#all-page {
  max-width: fit-content;
}

h1 {
  font-family: var(--primary-font);
  font-size: 50px;
}

h2 {
  font-family: var(--primary-font);
  text-align: center;
  padding: 0 0 30px 0;
}

h3 {
  font-family: var(--primary-font);
  padding: 15px 0;
  font-size: 40px;
}

h5 {
  color: #fcded6;
}

.hero {
  background-color: rgb(247, 148, 120, 0.8);
  text-align: center;
  margin: 0 0 50px 0;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 30px;
  padding: 30px 0 0 0;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-size: 20px;
}

.persiks {
  margin: 20px 0;
  max-width: 100%;
}

.persiks2 {
  max-width: 100%;
}

.persiks4 {
  max-width: 100%;
}

.about-persiks {
  max-width: 100%;
}
@media (max-width: 576px) {
  .hero h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 32px;
    text-align: center;
  }

  .hero p {
    text-align: center;
  }

  .persik {
    display: none;
  }

  .persi {
    display: none;
  }

  .pers {
    display: none;
  }

  .pers2 {
    display: none;
  }

  .pers3 {
    display: none;
  }

  #all-page {
    width: auto;
  }

  .navbar {
    max-width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 769px) {
  .hero {
    max-width: 100%;
    text-align: center;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 32px;
    text-align: center;
  }

  .hero p {
    text-align: center;
  }

  .persik {
    display: none;
  }

  .persi {
    display: none;
  }

  .pers {
    display: none;
  }

  .pers2 {
    display: none;
  }

  .pers3 {
    display: none;
  }

  #all-page {
    max-width: 80%;
  }

  body {
    max-width: 100%;
  }
}

@media (max-width: 1280px) {
  .persik {
    display: none;
  }

  .persi {
    display: none;
  }

  .pers {
    display: none;
  }

  .pers2 {
    display: none;
  }

  .pers3 {
    display: none;
  }
}
.navbar {
  background-color: #f7866a;
}

#navbarToggleExternalContent {
  background-color: #f7866a;
}
