:root {
  --primary-color: #f8a28b;
  --secondary-color: #fcded6;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  background-color: rgb(247, 148, 120, 0.3);
  color: #68392f;
  max-width: 100%;
}

#all-page {
  max-width: fit-content;
}

h1 {
  font-family: var(--primary-font);
  font-size: 50px;
}

h2 {
  font-family: var(--primary-font);
  text-align: center;
  padding: 40px 0;
  color: #68392f;
}

h3 {
  font-family: var(--primary-font);
  padding: 15px 0;
  font-size: 40px;
}

h5 {
  color: #68392f;
}

.cat {
  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;

  overflow: hidden;
}

.persiks2,
.persiks4 {
  transition: transform 0.25s;
  overflow: hidden;
}

.hero {
  background-color: rgb(247, 148, 120, 0.8);
  text-align: center;
  margin: 0 0 50px 0;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 30px;
  padding: 30px 0 0 0;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-size: 20px;
}

.persiks {
  margin: 20px 0;
  max-width: 100%;
}

#about-me {
  margin: 20px;
}

.about-persiks {
  max-width: 100%;
}

.second-persiks {
  padding-bottom: 20px;
}

.my-work {
  text-align: center;
  padding: 30px 0 0 0;
}

.contact-container {
  text-align: center;
}

.touch {
  padding: 30px 0 0 0;
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 20px;
    text-align: center;
  }

  .hero p {
    text-align: center;
  }

  #all-page {
    width: auto;
  }

  .navbar {
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 769px) {
  .hero {
    max-width: 100%;
    text-align: center;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 20px;
    text-align: center;
  }

  .hero p {
    text-align: center;
  }

  #all-page {
    max-width: 99%;
  }

  body {
    max-width: 100%;
  }
}

.navbar {
  background-color: #f7866a;
}

#navbarToggleExternalContent {
  background-color: #f7866a;
}
